.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}
.cont-toolbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.cont-tasks {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .mdc-card {
        margin: 10px;
        max-width: 440px;
        .pending {
            text-decoration: line-through;
        }
    }
}