<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Prueba técnica básica Angular - VELAIO</span>
  </mat-toolbar-row>
</mat-toolbar>

<section class="cont-toolbar">
  <mat-form-field>
    <mat-label>Filtrar por:</mat-label>
    <mat-select [formControl]="filterForm">
      <mat-option *ngFor="let option of filterData" [value]="option">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="newTask()">Agregar tarea</button>
</section>
<section class="cont-tasks">
  <mat-card *ngFor="let task of tasks" [ngClass]="{ 'pending-task': task.status }">
    <mat-card-header>
      <mat-card-title [ngClass]="{ 'pending': task.status }">
        {{ task.name }}
      </mat-card-title>
      <mat-card-subtitle>Fecha limite: {{ formatTimestamp(task.limitDate) }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-person-list [people]="task.person"></app-person-list>
    </mat-card-content>
    <mat-card-actions class="cont-btn-status">
      <button class="button-status" *ngIf="!task.status" mat-flat-button color="primary" (click)="updateTask(task)">Mover a completadas</button>
      <button class="button-status" *ngIf="task.status" mat-flat-button color="warn" (click)="updateTask(task)">Mover a pendiente</button>
    </mat-card-actions>
  </mat-card>
</section>