<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Prueba técnica básica Angular - VELAIO</span>
  </mat-toolbar-row>
</mat-toolbar>

<section class="cont-toolbar">

  <mat-form-field>
    <mat-label>Filtrar por:</mat-label>
    <mat-select [formControl]="toppings">
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary">Agregar tarea</button>
</section>

<section class="cont-tasks">
  <mat-card *ngFor="let task of tasks">
    <mat-card-header>
      <mat-card-title [ngClass]="{'pending': task.status ==='pending'}">
        {{ task.name }} 
      </mat-card-title>
      <mat-card-subtitle>Fecha limite: {{ task.limitDate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      .
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="task.status ==='pending'" mat-flat-button color="primary">Mover a completadas</button>
      <button *ngIf="task.status ==='complete'" mat-flat-button color="warn">Mover a pendiente</button>
    </mat-card-actions>
  </mat-card>

</section>